<div class="container mt-5">
  <h2>Registracija</h2>
  <form (ngSubmit)="onRegister()" #regForm="ngForm">
    <input class="form-control mb-2" name="name" [(ngModel)]="name" placeholder="Ime" required>
    <input class="form-control mb-2" name="email" [(ngModel)]="email" placeholder="Email" required>
    <input class="form-control mb-2" name="password" [(ngModel)]="password" type="password" placeholder="Lozinka" required>
    <button class="btn btn-primary">Registruj se</button>
  </form>
</div>
